@import '_normalize.css';
@import '_variables.css';
@import '_common.css';

/* ===========================
   Header
   =========================== */

.header {
  padding: 1.875rem 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.header__logo {
  display: flex;
}

.header__logo-img {
  width: 8.1875rem;
  height: 2.5rem;
}

.header__nav {
  transform: translateX(3.5%);
}

.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  min-width: 22.8rem;
  padding: 0;
  list-style: none;
}

.header__nav-link {
  display: block;
  line-height: 1.9;
  position: relative;
  color: #4a4a4a;
}

.header__nav-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #fb9b69;
  transition: width 0.3s ease-in-out;
}

.header__nav-link:hover:after {
  width: 21px;
}

.header__nav-link--current:after {
  width: 21px;
}

.header__btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__signup {
  white-space: nowrap;
}

.header__burger {
  display: none;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  position: relative;
}

.header__burger svg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
}

.header__burger-close {
  transform: scale(0);
}

.header__burger--opened svg.header__burger-open {
  transform: scale(0);
}
.header__burger--opened svg.header__burger-close {
  transform: scale(1);
}

/* ===========================
   Hero Section
   =========================== */

.hero {
  min-height: calc(100svh - 6.375rem);
  padding: 5.625rem 0;
  position: relative;
}

.hero__content {
  max-width: 37.375rem;
  padding-left: 3px;
}

.hero__title {
  max-width: 30rem;
  margin-bottom: 0.625rem;
}

.hero__title strong {
  color: var(--accent-color);
}

.hero__title span {
  display: block;
  transform: translateY(-3px);
}

.hero__desc {
  max-width: 27.8125rem;
  color: var(--secondary-text-color);
  font-size: 0.9375rem;
  font-weight: 500;
}

.hero__started {
  min-height: 2.875rem;
  margin-top: 1.875rem;
  font-size: 0.9375rem;
}

.hero__search {
  position: relative;
  margin-top: 3.125rem;
}

.hero__search-label {
  display: none;
}

.hero__search-input {
  display: block;
  width: 100%;
  height: 3.875rem;
  padding: 0.625rem 2.5rem;
  border: none;
  font-size: 1rem;
  font-family: var(--secondary-font), sans-serif;
  border-radius: 6.25rem;
  outline: none;
  letter-spacing: 0.01em;
  transition: box-shadow 0.3s ease-in-out;
}

.hero__search-input::placeholder {
  color: #a1a1a1;
}

.hero__search-input::-webkit-search-cancel-button,
.hero__search-input::-webkit-search-decoration,
.hero__search-input::-webkit-search-results-button,
.hero__search-input::-webkit-search-results-decoration {
  display: none;
}

.hero__search-input:focus {
  box-shadow: 0 0 0 2px var(--accent-color);
}

.hero__search-submit {
  position: absolute;
  top: 50%;
  right: 0.375rem;
  width: 3.4375rem;
  height: 3.4375rem;
  padding: 0.3125rem;
  border-radius: 50%;
  transform: translateY(-50%);
}

.hero__search-submit svg {
  width: 21px;
  height: 21px;
}

.hero__users {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}

.hero__users-list {
  display: flex;
  align-items: center;
}

.hero__users-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.375rem;
  height: 2.375rem;
  position: relative;
  border: 3px solid #fff;
  background: #fff;
  color: #fff;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
}

.hero__users-item:not(:first-child) {
  margin-left: -1.0625rem;
}

.hero__users-item:nth-child(1) {
  z-index: 10;
}
.hero__users-item:nth-child(2) {
  z-index: 9;
}
.hero__users-item:nth-child(3) {
  z-index: 8;
}
.hero__users-item:nth-child(4) {
  z-index: 7;
}

.hero__users-item img {
  position: absolute;
  left: -3px;
  top: -3px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  object-fit: cover;
  -webkit-user-drag: none;
}

.hero__users-item--more {
  background: var(--accent-color);
}

.hero__users-item--more svg {
  width: 0.8125rem;
  height: 0.8125rem;
}

.hero__users-info {
  font-family: var(--secondary-font), sans-serif;
  color: #707070;
}

.hero__users-info a {
  font-weight: 500;
}

.hero__visual {
  position: absolute;
  left: 50%;
  top: 3.4375rem;
  width: 28.125rem;
  height: 37.5625rem;
  z-index: -1;
  transform: translateX(26%);
}

.hero__visual:before {
  content: '';
  position: absolute;
  width: 17.5rem;
  height: 17.5rem;
  margin-left: 0.3125rem;
  border-radius: 50%;
  background: var(--secondary-bg-color);
  left: 50%;
  top: 7.3125rem;
  transform: translateX(-50%);
  z-index: 4;
}

.hero__visual-flags {
  width: 28.125rem;
  height: 28.125rem;
  border: 2px solid #e8e8e8;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -14.0625rem;
  border-radius: 50%;
}

.hero__visual-flags.rotate {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero__visual-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 18.4375rem;
  height: 34.8125rem;
  transform: translateX(-49%);
  object-fit: contain;
  z-index: 5;
}

.flag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.4s ease;
}

@keyframes rotate-flag {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.hero__visual-flags.rotate .flag {
  animation: rotate-flag 15s linear infinite;
}

.flag.active {
  transform: translate(0, 0) scale(1) rotate(-360deg);
}

.flag img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
  border: 0.625rem solid #fff;
}

.flag--1.active {
  top: 4.6875rem;
  left: -0.75rem;
}

.flag--2.active {
  top: -2.625rem;
  left: 12.6875rem;
}
.flag--2 img {
  width: 3.75rem;
  height: 3.75rem;
}

.flag--3.active {
  top: 5rem;
  left: 23.75rem;
}
.flag--3 img {
  width: 4.375rem;
  height: 4.375rem;
}

.flag--4.active {
  top: 14.375rem;
  left: 25.1875rem;
}
.flag--4 img {
  width: 3.125rem;
  height: 3.125rem;
}

.flag--5.active {
  top: 23.125rem;
  left: 18.75rem;
}
.flag--5 img {
  width: 5rem;
  height: 5rem;
}

.flag--6.active {
  top: 22.8125rem;
  left: 4.0625rem;
}
.flag--6 img {
  width: 4.375rem;
  height: 4.375rem;
}

.flag--7.active {
  top: 14.375rem;
  left: -2.25rem;
}
.flag--7 img {
  width: 3.125rem;
  height: 3.125rem;
}

/* ===========================
   Responsive
   =========================== */

@media (max-width: 767px) {
  .header {
    padding: 1rem 0;
    position: relative;
    z-index: 99;
  }
  .header__nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
    padding: 1rem;
    transform: scaleY(0);
    transform-origin: top center;
    opacity: 0;
    transition: 0.3s;
  }
  .header__nav--opened {
    transform: scaleY(1);
    opacity: 1;
  }
  .header__nav-list {
    min-width: 0;
    flex-direction: column;
    gap: 1rem;
  }
  .header__burger {
    display: flex;
  }

  .hero {
    min-height: 0;
    padding: 2rem 0 0;
  }
  .hero__content {
    max-width: none;
    padding: 0;
  }
  .hero__desc {
    max-width: none;
  }
  .hero__visual {
    margin-top: 1rem;
    position: relative;
    transform: translateX(-50%);
    transform-origin: center bottom;
  }
}
